*{
  padding:0;
  margin:0;
}
body{
  background: #fff;
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}
.headerContent, .formContent{
  width:800px;
  margin: 0 auto;
  display:flex;
  flex-flow: row;
  justify-content: space-around;
}
.headerContent{
  padding-top:65px;
  align-items:center;
}
.borderRight{
  border-right: 1px solid #fff;
}
/**************************************/
/********** HEADER ***********/

.header{
  background: #3f5ae9;
  background: -moz-linear-gradient(-45deg, #3f5ae9 0%, #02e0f3 100%);
  background: -webkit-linear-gradient(-45deg, #3f5ae9 0%, #02e0f3 100%);
  background: linear-gradient(135deg, #3f5ae9 0%, #02e0f3 100%);
  color:#fff;
  min-height:225px;
}
.headerContent_column_title{
  flex-basis:50%;
}
.headerContent_column{
  flex-basis:25%;
}
.headerContent_text{
  text-align: center
}
.headerContent_numbers{
  display:block;
  font-weight: 400;
  font-size: 3rem;
}

/**************************************/
/********** FORM ***********/

.form{
  background: #f0f0f0;
}
.formContent{
  text-align: center;
  padding: 15px;
}
select.addType{
  display: block;
  font-size: 14px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.5;
  padding: 1em 1.4em 1em 1em;
  width:8%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #fff;
}
select.addWP{
  display: block;
  opacity:1;
  transition: 0.2s linear;
  font-size: 14px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.5;
  padding: 1em 1.4em 1em 1em;
  width:20%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #fff;
}

select.addWP.hide{
  opacity:0;
  width:0
}

.dateInput p{
  display: inline-block;
  font-size: 0.85rem;
  padding-right: 5px;
}

input[type='date']{
  font-family: 'Raleway',sans-serif;
  padding: 0.75rem 0.55rem 0.75rem 1rem;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: .5em;
  width: 52%;
}

button{
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  padding: 3px;
  color: #778899;
}
button:focus{
  border:none;
}


/**************************************/
/********** DATA TBS ***********/

.dataContent{
  width:800px;
  margin: 0 auto;
  margin-top:55px;
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
}
.dataContent h2{
  text-align: center;
  margin-bottom: 25px;
}
.in,.out{
  width:40%;
}
.item{
  border-bottom: 0.5px solid #f0f0f0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.item__delete{
  text-align: center;
  color:#fff;
  width:0;
  display:inline-block;
  opacity:0;
  transition: 0.2s linear;
}
.item:hover .item__delete{
  width:40px;
  opacity:1;
}
